<h1>Article List</h1>

<p>Blogger currently contains <%= Article.public_count %> articles:</p>

<table class="table">
    <% @articles.each do |article| %>
        <% unless article.archived? %>
            <tr>
                <td class="pb-3">
                    <%= link_to article.title, article %>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>

<%= link_to "Create New Article", new_article_path, class: "btn btn-primary mt-3 mb-5" %>