<h3>Articles tagged with: <%= @tag.name %></h3>

<ul>
    <% @tag.articles.each do |article| %>
        <li>
            <%= link_to article.title, article_path(article) %>
        </li>
    <% end %>
</ul>
<% if current_user.admin? %>
    <div>
        <%= link_to "Delete Tag", tag_path(@tag), class: "btn btn-danger", data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure? Deleting this tag will remove it from all articles."
            }
        %>
    </div>
<% end %>